# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 6d613dcb6ee9f0896158de0d1c8945eb75a33a62dc8e8316df723f60d01ff0ce9aef077baae6a69af07c8065d4abaee21eaed51f45afed0b5861c2f7ed32c981

test:
  secret_key_base: 3b3b16c85c5b17288c85992bc0a51661f087e21d70eac1de9dffaa6f678dca090d8c3b9d09bc2aa2855d15f925a9a90acaee0e3f5389205d855eadf39d203ee5

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
